<p>detalle-resultados works!</p>
<form [formGroup]="detalleResultadoForm">
    <section class="container-form t-col-3 t-col-sm-1">
        <div class="form">
          <span class="form-text">Nro Orden:</span>
          <input id="nroOrden" type="text" formControlName="nroOrden" pInputText />
        </div>
        
<!--     
        <div class="form">
          <span class="form-text">Nro Documento:</span>
          <input id="numDocumento" type="text" formControlName="numDo                               cumento" pInputText numbersOnly/>
          <div class="validation" *ngIf="numDocumento?.invalid && (numDocumento?.dirty || numDocumento?.touched)">
            <small *ngIf="numDocumento?.errors?.['required']" class="p-error">Nro Documento es obligatorio</small>
            <small *ngIf="numDocumento?.errors?.['minlength'] || numDocumento?.errors?.['maxlength']" class="p-error">Número de Documento debe tener 11 dígitos</small>
          </div>
        </div>
    
    
        <div class="form">
          <span class="form-text">Nomnbre:</span>
          <input id="descripcion" type="text" formControlName="nombre" pInputText />
          <div class="validation" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)">
            <small *ngIf="nombre?.errors?.['required']" class="p-error">Nomnbre es obligatorio</small>
          </div>
        </div> -->
    
      </section>
    
</form>