<form (ngSubmit)="guardarProveedor()" [formGroup]="proveedorForm">
  <h2>{{titulo}}</h2>
  <br>
  <section class="container-form t-col-2 t-col-sm-1">

    <div class="form">
      <span class="form-text">Razón Social:</span>
      <input id="razonSocial" type="text" formControlName="razonSocial" autocomplete="off" pInputText />
      <div class="validation" *ngIf="razonSocial?.invalid && (razonSocial?.dirty || razonSocial?.touched)">
        <small *ngIf="razonSocial?.errors?.['required']" class="p-error">Razón social es obligatorio</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Tipo Documento:</span>
      <p-dropdown [options]="tipoDocumentos" formControlName="tipoDocumento" optionLabel="tipo" placeholder="Seleccione"></p-dropdown>
      <div class="validation" *ngIf="tipoDocumento?.invalid && (tipoDocumento?.dirty || tipoDocumento?.touched)">
        <small *ngIf="tipoDocumento?.errors?.['required']" class="p-error">Tipo Documento es obligatorio</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Nro Documento:</span>
      <input id="numDocumento" type="text" formControlName="numDocumento" autocomplete="off" pInputText numbersOnly/>
      <div class="validation" *ngIf="numDocumento?.invalid && (numDocumento?.dirty || numDocumento?.touched)">
        <small *ngIf="numDocumento?.errors?.['required']" class="p-error">Nro Documento es obligatorio</small>
        <small *ngIf="numDocumento?.errors?.['minlength'] || numDocumento?.errors?.['maxlength']" class="p-error">Número de Documento debe tener 11 dígitos</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Rubro:</span>
      <input id="rubro" type="text" formControlName="rubro" autocomplete="off" pInputText />
      <div class="validation" *ngIf="rubro?.invalid && (rubro?.dirty || rubro?.touched)">
        <small *ngIf="rubro?.errors?.['required']" class="p-error">Rubro es obligatorio</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Celular:</span>
      <input id="numCelular" formControlName="numCelular" mask="999999999" prefix="+51 " [showMaskTyped]="false" autocomplete="off" pInputText />
      <div class="validation" *ngIf="numCelular?.invalid && (numCelular?.dirty || numCelular?.touched)">
        <small *ngIf="numCelular?.errors?.['required']" class="p-error">Celular es obligatorio</small>
        <small *ngIf="numCelular?.errors?.['minlength']" class="p-error">Celular debe tener 9 dígitos</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Teléfono:</span>
      <input id="telf" formControlName="telf" mask="999999" prefix="(056) " [showMaskTyped]="false" autocomplete="off" pInputText />
      <div class="validation" *ngIf="telf?.invalid && (telf?.dirty || telf?.touched)">
        <small *ngIf="telf?.errors?.['required']" class="p-error">Teléfono es obligatorio</small>
        <small *ngIf="telf?.errors?.['minlength']" class="p-error">Teléfono debe tener 6 dígitos</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Correo:</span>
      <input id="correo" type="text" formControlName="correo" autocomplete="off" pInputText />
      <div class="validation" *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)">
        <small *ngIf="correo?.errors?.['required']" class="p-error">Correo es obligatorio</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Descripción:</span>
      <input id="descripcion" type="text" formControlName="descripcion" autocomplete="off" pInputText />
      <div class="validation" *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)">
        <small *ngIf="descripcion?.errors?.['required']" class="p-error">Descripción es obligatorio</small>
      </div>
    </div>
  </section>
  <br>
  <div class="container-opciones">
    <app-button [label]="'Cancelar'" [router]="'/proveedores'" [icono]="'pi pi-times'" [estiloBoton]="'outlined'">
    </app-button>
    <app-button [label]="'Guardar'" [icono]="'pi pi-check'" [tipo]="'submit'" [isDisabled]="!proveedorForm.valid">
    </app-button>
  </div>
</form>
