<div class="t-flex-start">
  <h2>Recepción de Productos</h2>
</div>
<br>
<section class="container-table">
  <app-table
    *ngIf="isCargado"
    [listaElementos]="listaElementos"
    [columnas]="colsVisibles"
    [filas]="10"
    [listaElementosAFiltrar]="['numDocumento', 'tipoCliente', 'nombre','apellido', 'razonSocial', 'numCel','correo']"
    (eventoAccion)="eventoAccion($event)"
    [isMostrarMasOpciones]="true"
    [isMostrarAcciones]="false"
    [acciones]="acciones"
  ></app-table>
</section>
