<form (ngSubmit)="guardarElemento()" [formGroup]="pacienteForm">
  <h2>{{titulo}}</h2>
  <br>

  <section class="container-form">
    <h3>Ingrese paciente</h3>
      <br>
    <div class="t-flex-start">

      <span><b>DNI:</b></span>
      <div class="form">

        <input id="numDocumento" type="text" toUpperCase formControlName="numDocumento" maxlength="8" pInputText numbersOnly />
        <div class="validation" *ngIf="numDocumento?.invalid && (numDocumento?.dirty || numDocumento?.touched)">
          <small *ngIf="numDocumento?.errors?.['required']" class="p-error">Nro Documento es obligatorio</small>
          <small *ngIf="numDocumento?.errors?.['maxlength'] || numDocumento?.errors?.['minlength']" class="p-error">Nro de Documento debe tener 8
            dígitos</small>
        </div>
      </div>
    </div>
    <br>
    <br>
    <hr>
    <br>
    <div class="t-col-3 t-col-sm-1">
      <div class="form">
        <span class="form-text">Apellidos:</span>
        <input id="apellidos" type="text" toUpperCase formControlName="apellidos" appOnlyText pInputText />
        <div class="validation" *ngIf="apellidos?.invalid && (apellidos?.dirty || apellidos?.touched)">
          <small *ngIf="apellidos?.errors?.['required']" class="p-error">Apellidos es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Nombres:</span>
        <input id="nombres" type="text" toUpperCase formControlName="nombres" autocomplete="off" appOnlyText pInputText />
        <div class="validation" *ngIf="nombres?.invalid && (nombres?.dirty || nombres?.touched)">
          <small *ngIf="nombres?.errors?.['required']" class="p-error">Nombres es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Género:</span>
        <p-dropdown [options]="generos" formControlName="genero" optionLabel="tipo"
          placeholder="Seleccione"></p-dropdown>
        <div class="validation" *ngIf="genero?.invalid && (genero?.dirty || genero?.touched)">
          <small *ngIf="genero?.errors?.['required']" class="p-error">Género es obligatorio</small>
        </div>
      </div>
    </div>

    <br>

    <div class="t-col-3 t-col-sm-1">
      <div class="t-col-2">
        <div class="form">
          <span class="form-text">Fecha de Nacimiento:</span>
          <p-calendar formControlName="fechaNacimiento" dateFormat="yy-mm-dd" inputId="dateformat" [minDate]="minDate" [maxDate]="maxDate" appendTo="body"
            [readonlyInput]="true"></p-calendar>
          <div class="validation"
            *ngIf="fechaNacimiento?.invalid && (fechaNacimiento?.dirty || fechaNacimiento?.touched)">
            <small *ngIf="fechaNacimiento?.errors?.['required']" class="p-error">Fecha Nacimiento es obligatorio</small>
          </div>
        </div>

        <div class="form">
          <span class="form-text">Edad:</span>
          <input id="edad" type="edad" formControlName="edad" autocomplete="off" pInputText [disabled]="true"/>
        </div>
      </div>



      <div class="form">
        <span class="form-text">Email:</span>
        <input id="email" type="email" formControlName="email" autocomplete="off" pInputText />
        <div class="validation" *ngIf="email?.invalid && (email?.dirty || email?.touched)">
          <small *ngIf="email?.errors?.['required']" class="p-error">Correo es obligatorio</small>
          <small *ngIf="email?.errors?.['email']" class="p-error">Correo no es correcto</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Celular:</span>
        <input id="celular" type="text" toUpperCase formControlName="celular" autocomplete="off" pInputText numbersOnly />
        <div class="validation" *ngIf="celular?.invalid && (celular?.dirty || celular?.touched)">
          <small *ngIf="celular?.errors?.['required']" class="p-error">Celular es obligatorio</small>
        </div>
      </div>

    </div>

    <br>

    <div class="t-col-3 t-col-sm-1">
      <div class="form">
        <span class="form-text">Dirección:</span>
        <input id="direccion" type="text" toUpperCase formControlName="direccion" autocomplete="off" pInputText />
        <div class="validation" *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)">
          <small *ngIf="direccion?.errors?.['required']" class="p-error">Número es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Antecedentes:</span>
        <textarea id="antecedentes" rows="1" cols="30" formControlName="antecedentes" autocomplete="off"
          pInputTextarea></textarea>
        <div class="validation" *ngIf="antecedentes?.invalid && (antecedentes?.dirty || antecedentes?.touched)">
          <small *ngIf="antecedentes?.errors?.['required']" class="p-error">Antecedentes es obligatorio</small>
        </div>
      </div>
    </div>
  </section>
  <br>
  <div class="container-opciones">
    <app-button [label]="'Regresar'" [router]="'/paciente'" [icono]="'pi pi-arrow-left'" [estiloBoton]="'p-button-outlined p-button-secondary'">
    </app-button>
    <app-button [label]="'Guardar'" [icono]="'pi pi-check'" [tipo]="'submit'" [isDisabled]="pacienteForm.invalid">
    </app-button>
  </div>
</form>
