<div class="t-flex-start">
  <h2>Lista de Doctores</h2>
  <app-button
    [label]="'Agregar'"
    [icono]="'pi pi-plus'"
    (eventoClick)="openModalDoctor()"
  ></app-button>
</div>
<br />
<section class="container-table">
  <app-table
    *ngIf="isCargado"
    [listaElementos]="listaDoctores"
    [columnas]="colsVisibles"
    [filas]="5"
    [listaElementosAFiltrar]="['descripcion']"
    (eventoAccion)="eventoAccion($event)"
  ></app-table>
</section>

<p-dialog header="Agregar Médico" [(visible)]="cualquiera" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <span><b>Seleccione un empleado:</b></span>
  <br />
  <form [formGroup]="doctoresForm">
    <section class="container-dialog t-col-2 t-col-sm-1">

      <div class="form">
        <span class="form-text">Código:</span>
        <input id="codigo" type="text" formControlName="codigo" pInputText />
        
        <div class="validation" *ngIf="codigo?.invalid && (codigo?.dirty || codigo?.touched)">
          <small *ngIf="codigo?.errors?.['required']" class="p-error">codigo es obligatorio</small>
        </div>
      </div>
      <div class="form">
        <span class="form-text">Nombre completo:</span>
        <input id="nombreCompleto" type="text" formControlName="nombreCompleto" pInputText />
        
        <div class="validation" *ngIf="codigo?.invalid && (codigo?.dirty || codigo?.touched)">
          <small *ngIf="codigo?.errors?.['required']" class="p-error">El nombre completo es obligatorio</small>
        </div>
      </div>
  
    </section>
  </form>

  <ng-template pTemplate="footer">
    <app-button
    [label]="'Guardar'"
    [icono]="'pi pi-check'"
    (eventoClick)="guardar()"
    [isDisabled]="doctoresForm.invalid"
  ></app-button>
  </ng-template>
</p-dialog>