<app-button [label]="'Regresar'" [router]="'/almacen-sucursal'" [icono]="'pi pi-arrow-left'" [estiloBoton]="'p-button-outlined p-button-secondary'">
</app-button>
<br>
<br>

<div class="t-flex-start">
  <h2>Detalle de Almacen Sucursal Lote</h2>
</div>
<br>
  <section class="container-table">
  <app-table
    *ngIf="isCargado"
    [listaElementos]="listaElementos"
    [columnas]="colsVisibles"
    [filas]="10"
    [listaElementosAFiltrar]="['descripcion']"
    [isMostrarAcciones]="false"
    [isMostrarMasOpciones]="true"
    [acciones]="acciones"
    (eventoAccion)="eventoAccion($event)"
  ></app-table>
</section>
