<form (ngSubmit)="guardarProducto()" [formGroup]="productoForm">
    <h2>{{titulo}}</h2>
    <br>
    <section class="container-form t-col-2 t-col-sm-1">



      <div class="form">
        <span class="form-text">Id Producto:</span>
        <input id="idProducto" type="text" formControlName="idProducto" autocomplete="off" pInputText numbersOnly />
        <div class="validation" *ngIf="idProducto?.invalid && (idProducto?.dirty || idProducto?.touched)">
          <small *ngIf="idProducto?.errors?.['required']" class="p-error">Identificador es obligatorio</small>
          <small *ngIf="idProducto?.errors?.['minlength'] || idProducto?.errors?.['maxlength']" class="p-error">Identificador debe tener 12 dígitos</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Codigo:</span>
        <input id="codigo" type="text" formControlName="codigo" autocomplete="off" pInputText />
        <div class="validation" *ngIf="codigo?.invalid && (codigo?.dirty || codigo?.touched)">
          <small *ngIf="codigo?.errors?.['required']" class="p-error">Codigo es obligatorio</small>
          <small *ngIf="codigo?.errors?.['minlength'] || codigo?.errors?.['maxlength']" class="p-error">Codigo debe tener 12 dígitos</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Descripción Producto:</span>
        <input id="descripcion" type="text" formControlName="descripcion" autocomplete="off" pInputText/>
        <div class="validation" *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)">
          <small *ngIf="descripcion?.errors?.['required']" class="p-error">Descripción es obligatorio</small>
          <small *ngIf="descripcion?.errors?.['minlength'] || descripcion?.errors?.['maxlength']" class="p-error">Descripción debe tener 12 dígitos</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Detalle:</span>
        <input id="detalle" type="text" formControlName="detalle" autocomplete="off" pInputText />
        <div class="validation" *ngIf="detalle?.invalid && (detalle?.dirty || detalle?.touched)">
          <small *ngIf="detalle?.errors?.['required']" class="p-error">Detalle es obligatorio</small>
          <small *ngIf="detalle?.errors?.['minlength'] || detalle?.errors?.['maxlength']" class="p-error">Detalle debe tener 150 dígitos</small>
        </div>
      </div>

     <div class="form">
        <span class="form-text">Categoria:</span>
        <p-dropdown [options]="listaCategorias" formControlName="categoria" optionLabel="descripcion" placeholder="Seleccione"></p-dropdown>
        <div class="validation" *ngIf="categoria?.invalid && (categoria?.dirty || categoria?.touched)">
          <small *ngIf="categoria?.errors?.['required']" class="p-error">Categoria es obligatorio</small>
        </div>
      </div>


      <div class="form">
        <span class="form-text">Sub Categoria:</span>
        <p-dropdown [options]="listaSubCategorias" formControlName="subCategoria" optionLabel="descripcion" placeholder="Seleccione"></p-dropdown>
        <div class="validation" *ngIf="subCategoria?.invalid && (subCategoria?.dirty || subCategoria?.touched)">
          <small *ngIf="subCategoria?.errors?.['required']" class="p-error">Sub Categoria es obligatorio</small>
        </div>
      </div>


      <div class="form">
        <span class="form-text">Unidad de Medidad:</span>
        <p-dropdown [options]="listaUnidadMedidas" formControlName="unidadMedida" optionLabel="nombre" placeholder="Seleccione"></p-dropdown>
        <div class="validation" *ngIf="unidadMedida?.invalid && (unidadMedida?.dirty || unidadMedida?.touched)">
          <small *ngIf="unidadMedida?.errors?.['required']" class="p-error">Unidad de Medidad es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Stock Minimo Tienda:</span>
        <p-inputNumber formControlName="stockMinTienda" [showButtons]="true" mode="decimal" [minFractionDigits]="2" autocomplete="off"></p-inputNumber>
        <div class="validation" *ngIf="unidadMedida?.invalid && (unidadMedida?.dirty || unidadMedida?.touched)">
          <small *ngIf="unidadMedida?.errors?.['required']" class="p-error">Stock mínimo por tienda es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Stock Minimo General:</span>
        <p-inputNumber formControlName="stockMinGeneral" [showButtons]="true" mode="decimal" [minFractionDigits]="2" autocomplete="off"></p-inputNumber>
        <div *ngIf="stockMinGeneral?.invalid && (stockMinGeneral?.dirty || stockMinGeneral?.touched)">
          <small *ngIf="stockMinGeneral?.errors?.['required']" class="p-error">Stock mínimo general es obligatorio</small>
        </div>
      </div>

      <div class="form">
        <span class="form-text">Marca:</span>
        <input id="marca" type="text" formControlName="marca" autocomplete="off" pInputText/>
        <div class="validation" *ngIf="marca?.invalid && (marca?.dirty || marca?.touched)">
          <small *ngIf="marca?.errors?.['required']" class="p-error">Marca es obligatorio</small>
          <small *ngIf="marca?.errors?.['minlength'] || marca?.errors?.['maxlength']" class="p-error">Marca debe tener 45 caracteres</small>
        </div>
      </div>

    </section>

    <br>
    <div class="container-opciones">
      <app-button [label]="'Cancelar'" [router]="'/productos'" [icono]="'pi pi-times'" [estiloBoton]="'outlined'">
      </app-button>
      <app-button [label]="'Guardar'" [icono]="'pi pi-check'" [tipo]="'submit'" [isDisabled]="!productoForm.valid">
      </app-button>
    </div>
  </form>
