@import 'variables';

.td-navbar {
  width: 100%;
  height: 40px;
  top: 0;
  background-color: darken($secondaryColor, 5%);
  color: #fff;
  display: flex;
  justify-content: end;
  align-items: center;

  .nav-link {
    font-size: 1.4rem;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5%;
    margin: 0px 10px;
    display: grid;
    justify-self: center;
  }

  .nav-link:hover {
    background-color: $secondaryTransparentColor;
    border-radius: 5%;
    cursor: pointer;
  }
}
