.p-inputgroup {
  .p-button {
    height: 46px !important;
    border-radius: 6px 0 0 6px !important;
  }

  input {
    border-radius: 0px 6px 6px 0;
  }
}

.caption {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}
