<div class="t-flex-start">
  <h2>Lista de Compras</h2>
  <app-button
    [label]="'Nuevo'"
    [router]="'./mantenimiento-compra'"
    [icono]="'pi pi-plus'"
  ></app-button>
</div>
<br>
<section class="container-table">
  <app-table
    *ngIf="isCargado"
    [listaElementos]="listaElementos"
    [columnas]="colsVisibles"
    [filas]="10"
    [listaElementosAFiltrar]="['empresa', 'tipoCompro', 'serieCompro','numCompro', 'descripcion','estado']"
    (eventoAccion)="eventoAccion($event)"
    [isMostrarMasOpciones]="true"
    [acciones]="acciones"
  ></app-table>
</section>
