.form-searcher {
  width: 180px;
}

hr {
    color: rgb(230, 230, 230);
  border-style: solid;
}

.container-form .form .refer {
  width: 30%;
}

.container-opciones {
  justify-content: space-between;
}

.p-datatable .p-datatable-header {
  justify-self: end;
}
