<form [formGroup]="agregarResultadoForm">
  <h2>Resultados > Exámenes > {{titulo}}</h2>
  <br />
  <h3>Datos de atención:</h3>
  <br />
  <section class="container-form t-col-4 t-col-sm-2">
    <div class="form" style="width: 100px;">
      <span class="form-text">Nro Atención:</span>
      <input id="nroOrden" type="text" toUpperCase formControlName="nroOrden" pInputText />
    </div>

    <div class="form">
      <span class="form-text">Apellidos y Nombres:</span>
      <input id="apellidosyNombres" type="text" toUpperCase formControlName="apellidosyNombres" pInputText />
    </div>

    <div class="form">
      <span class="form-text">Exámen:</span>
      <input id="examen" type="text" toUpperCase formControlName="examen" pInputText />
    </div>

    <div class="form">
      <span class="form-text">Fecha:</span>
      <input id="fecha" type="text" toUpperCase formControlName="fecha" pInputText />
    </div>
  </section>

  <br>

  <h3>Ingrese los resultados:</h3>
  <br>
  <p-table #dt [id]="dt" [columns]="cols" dataKey="id" [value]="elementos.controls" dataKey="idAnalisis"
    [loading]="loading" [responsiveLayout]="'scroll'" [scrollable]="true" scrollHeight="calc(100vh - 400px)" [rowHover]="true">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="justify-content: center;">
          {{col.header}}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-controls let-i="rowIndex">
      <ng-container formArrayName="elementos">
        <tr [formGroupName]="i">
          <td [width]="'300px'" [ngClass]="{
            'inputtext-subtitulo': elementos.at(i).get('isSubtitulo')?.value,
            'inputtext-normal': !elementos.at(i).get('isSubtitulo')?.value
            }">
            {{controls.value.descripcion}}
          </td>
          <td>
            <textarea *ngIf="!elementos.at(i).get('isSubtitulo')?.value" type="text" formControlName="resultado" style="width: 180px;" maxLength="400" [rows]="2" pInputTextarea></textarea>
          </td>
          <td>
            {{controls.value.unidad}}
          </td>
          <td [width]="'300px'">
            <div [innerHTML]="controls.value.valorReferencia | safeHtml"></div>
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>
</form>
<div class="container-opciones">
  <app-button [label]="'Regresar'" (eventoClick)="regresar()" [icono]="'pi pi-arrow-left'"
    [estiloBoton]="'p-button-outlined p-button-secondary'"></app-button>
  <app-button [label]="'Guardar'" (eventoClick)="guardar()" [isDisabled]="elementos.invalid"
    [icono]="'pi pi-save'"></app-button>
</div>
