<h3>Agregar Examen</h3>
<br>

<form [formGroup]="agregarExamenesForm">
  <section class="container-form t-col-3 t-col-sm-1">
    <div class="form">
      <span class="form-text">Nombre</span>
      <input id="nombre" type="text" formControlName="nombre" pInputText />
    </div>

    <div class="form">
      <span class="form-text">Descripcion</span>
      <input
        id="descripcion"
        type="text"
        formControlName="descripcion"
        pInputText
      />
    </div>

    <div class="form">
      <span class="form-text">Precio</span>
      <input id="precio" type="text" formControlName="precio" pInputText />
    </div>
  </section>
  </form> 

  <br>

  <app-button
      [label]="'Guardar'"
      [router]="'./agregar-examenes'"
      [icono]="'pi pi-check'"
    ></app-button>
