<form (ngSubmit)="guardarEnvioSucursal($event)" [formGroup]="envioForm">
  <h2>{{titulo}}</h2>
  <section class="container-form t-col-2 t-col-sm-1">
    <div id="" class="form">
      <span class="form-text">Sucursal:</span>
      <p-dropdown [options]="listaSucursal" formControlName="sucursal" optionLabel="nombreSucur"
        placeholder="Seleccione" appendTo="body">
      </p-dropdown>
      <div class="validation" *ngIf="
          sucursal?.invalid &&
          (sucursal?.dirty || sucursal?.touched)
        ">
        <small *ngIf="sucursal?.errors?.['required']" class="p-error">Sucursal es
          obligatorio</small>
      </div>
    </div>
    <div class="form">
      <br>
      <button pButton (click)="showBuscadorItemAlmacen()" type="button" label="Agregar Articulo" icon="pi pi-plus"
        [disabled]="sucursal?.invalid"></button>
    </div>
  </section>
  <br>
  <section class="container-table" [formGroup]="itemsForm">
    <ng-container formArrayName="items">
      <p-table [columns]="colsEnvioSucursalVisibles" [scrollable]="true" scrollHeight="400px" [value]="items.controls"
        responsiveLayout="scroll">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th>Acciones</th>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-controls let-i="rowIndex">
          <tr [formGroupName]="i">
            <td>
              <app-button [icono]="'pi pi-times'" [estiloBoton]="'rounded'" (eventoClick)="deleteItem(i,controls)">
              </app-button>
            </td>
            <td>
              {{controls.value.descripcion}}
            </td>
            <td>
              S/ {{controls.value.precioCompra}}
            </td>
            <td>
              <p-inputNumber formControlName="cantidadEnvio" placeholder="0" inputId="controls.value.cantidadEnvi-us"
                mode="decimal" locale="en-US" [minFractionDigits]="2"></p-inputNumber>
              <div class="validation"
                *ngIf="controls.controls.cantidadEnvio.dirty || controls.controls.cantidadEnvio?.touched">
                <small *ngIf="controls.controls.cantidadEnvio?.errors?.['required']" class="p-error">Cantidad es
                  obligatorio</small>
                <small *ngIf="controls.controls.cantidadEnvio?.errors?.['stockValid']" class="p-error">Stock
                  superado</small>
              </div>
            </td>
            <td>
              {{tipoDeMoneda}}
              <p-inputNumber formControlName="precioVenta" placeholder="0" inputId="locale-us" mode="decimal"
                locale="en-US" [minFractionDigits]="2"></p-inputNumber>
              <div class="validation"
                *ngIf="controls.controls.precioVenta.dirty || controls.controls.precioVenta?.touched">
                <small *ngIf="controls.controls.precioVenta?.errors?.['required']" class="p-error">Precio venta es
                  obligatorio</small>
              </div>
            </td>
            <td>
              {{tipoDeMoneda}}
              <p-inputNumber formControlName="precioVentaXMayor" placeholder="0" inputId="locale-us" mode="decimal"
                locale="en-US" [minFractionDigits]="2"></p-inputNumber>
              <div class="validation"
                *ngIf="controls.controls.precioVentaXMayor.dirty || controls.controls.precioVentaXMayor?.touched">
                <small *ngIf="controls.controls.precioVentaXMayor?.errors?.['required']" class="p-error">Precio
                  VentaXMayor es obligatorio</small>
              </div>
            </td>
            <td>
              {{tipoDeMoneda}}
              <p-inputNumber formControlName="descuentoMaximo" placeholder="0" inputId="locale-us" mode="decimal"
                locale="en-US" [minFractionDigits]="2"></p-inputNumber>
              <div class="validation"
                *ngIf="controls.controls.descuentoMaximo.dirty || controls.controls.descuentoMaximo?.touched">
                <small *ngIf="controls.controls.descuentoMaximo?.errors?.['required']" class="p-error">Descuento Máximo
                  es obligatorio</small>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-container>
  </section>
  <div class="container-opciones">
    <app-button [label]="'Cancelar'" [router]="'/envio-sucursal'" [icono]="'pi pi-times'" [estiloBoton]="'outlined'">
    </app-button>
    <app-button [label]="'Guardar'" [icono]="'pi pi-check'" [tipo]="'submit'"
      [isDisabled]="!envioForm.valid || !itemsForm.valid">
    </app-button>
  </div>
</form>

<!-- #MODAL BUSCAR PROVEEDOR -->
<p-dialog header="Lista de Almacén" [(visible)]="isBuscadorAlmacen" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <span><b>Seleccione un producto:</b></span>
  <br />
  <p-table #dt [columns]="colsAlmacenProductos" selectionMode="single" [value]="listaAlmacenProductos"
    dataKey="idproducto" [rows]="6" [paginator]="true" [globalFilterFields]="[
      'descripcion',
      'estadostocks',
      'stockTotal',
      'stockmingeneral'
    ]" [rowHover]="true" [scrollable]="true" responsiveLayout="scroll"
    (onRowSelect)="onRowAlmacenProductoSelected($event)">
    <ng-template pTemplate="caption">
      <div class="caption">
        <span class="caption__search">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Buscar..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>Acción</th>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td>
          <app-button [icono]="'pi pi-plus'" [estiloBoton]="'rounded'" (eventoClick)="putFilaSeleccionado(rowData)">
          </app-button>
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-times" (click)="isBuscadorAlmacen = false" label="Cerrar" styleClass="p-button-text">
    </p-button>
  </ng-template>
</p-dialog>
<!-- #END MODAL BUSCAR PROVEEDOR -->
