<form (ngSubmit)="guardarMovimiento($event)" [formGroup]="cajaForm">
  <h2>{{titulo}}</h2>
  <br>
  <section class="container-form t-col-3 t-col-sm-1">
    <div id="formTipoMovimiento" class="form">
      <span class="form-text">Tipo de Movimiento:</span>
      <p-selectButton [options]="listaTipoMovimiento" (onChange)="onChangeTipoDeMovimiento($event)"
        formControlName="tipoMovimiento" optionLabel="tipo" optionValue="tipo">
      </p-selectButton>
    </div>

    <div id="formDescripcion" class="form">
      <span class="form-text">Descripción:</span>
      <input id="descripcion" type="text" formControlName="descripcion" autocomplete="off" pInputText />
      <div class="validation" *ngIf="descripcion?.invalid && (descripcion?.dirty || descripcion?.touched)">
        <small *ngIf="descripcion?.errors?.['required']" class="p-error">Descripcion es obligatorio</small>
      </div>
    </div>

    <div class="form">
      <span class="form-text">Cantidad:</span>
      <p-inputNumber formControlName="cantidad" [min]="minCantidad" [max]="maxCantidad" [showButtons]="true"
        mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="4" autocomplete="off"></p-inputNumber>
      <div class="validation" *ngIf="cantidad?.invalid && (cantidad?.dirty || cantidad?.touched)">
        <small *ngIf="cantidad?.errors?.['required']" class="p-error">Cantidad es obligatorio</small>
      </div>
    </div>
  </section>

  <br>
  <div class="container-opciones">
    <app-button [label]="'Agregar movimiento'" [icono]="'pi pi-check'" [tipo]="'submit'" [isDisabled]="!cajaForm.valid">
    </app-button>
  </div>
</form>
<br>

<section class="container-table">
  <app-table [listaElementos]="listaElementos" [columnas]="colsVisibles" [filas]="10"
    [listaElementosAFiltrar]="['descripcion']" (eventoAccion)="eventoAccion($event)" [isMostrarAcciones]="true" [isOpcionEditar]="false"></app-table>
</section>
